#--------------
# Generic stuff
#--------------
*.cache
*.Debug
*.o
*.orig
*.out
*.Release
*~
.\#*
*.bak
*.DS_Store
*._*
*.directory
*-eps-converted-to.pdf
*.Rhistory

#------------------------------------
# Local make config & build directory
#------------------------------------
/.cproject
/.project
/MakeLocalConfig
/.settings/
target*/
build*/

#------------------------------------
# Latex stuff
#------------------------------------
/src/doc/latex_user_man/UserManual.aux
/src/doc/latex_user_man/UserManual.bbl
/src/doc/latex_user_man/UserManual.blg
/src/doc/latex_user_man/UserManual.out
/src/doc/latex_user_man/UserManual.synctex.gz
/src/doc/latex_user_man/UserManual.toc

#------------------------------------
# Python stuff
#------------------------------------
.pydevproject
